<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <title>Order</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- checkout-area start -->
        <div class="checkout-area ptb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="your-order">
                                        <h3>Your order</h3>
                                        <div class="your-order-table table-responsive">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th class="product-name">Meal</th>
                                                    <th class="product-total">Total</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!--<tr class="cart_item" th:each="item : ${items}">
                                                    <td class="product-name" style="text-align: left">
                                                        <span th:text="${item.get('product')}"></span>
                                                        &times;
                                                        <strong class="product-quantity"
                                                                th:text="${item.get('quantity')}"></strong>
                                                    </td>
                                                    <td class="product-total">
                                                    <span class="amount"
                                                          th:text="${'₦' + #numbers.formatDecimal(item.get('price'), 0, 'COMMA', 2, 'POINT')}"></span>
                                                    </td>
                                                </tr>-->
                                                </tbody>
                                                <tfoot>
                                                <tr class="order-total">
                                                    <th>Order Total</th>
                                                    <td>
                                                        <strong>
                                                        <!--<span class="amount"
                                                              th:text="${'₦' + #numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}"></span>-->
                                                        </strong>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="payment-method">
                                            <div class="payment-accordion">
                                                <div class="order-button-payment">
                                                    <!--<input type="submit" value="Place order" th:if="${total > 0}" />-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- checkout-area end -->
    </div>

    <div layout:fragment="javascripts">
        <!-- VueJS app files -->
        <script th:src="@{/javascripts/app/vue-app/component/cart-counter.component.js}"></script>
        <script th:src="@{/javascripts/app/vue-app/component/format-price.component.js}"></script>
        <script th:src="@{/javascripts/app/vue-app/order/order.js}"></script>
    </div>
</body>
</html>