<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Byteworks Eats</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- all css here -->
    <link rel="stylesheet" th:href="@{/stylesheets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/bundle.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/style.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/responsive.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/custom.css}">
    <div layout:fragment="stylesheets"></div>
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- header start -->
    <div class="wrapper" id="app">
        <div th:replace="fragments/header :: header"></div>

        <div layout:fragment="content"></div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>

    <!-- all js here -->
    <script th:src="@{/javascripts/lib/jquery-1.12.0.min.js}" type="text/javascript"></script>
    <script th:src="@{/javascripts/lib/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/javascripts/lib/main.js}" type="text/javascript"></script>

    <!-- Libraries -->
    <script th:src="@{/javascripts/lib/lodash.js}"></script>
    <script th:src="@{/javascripts/lib/axios.min.js}"></script>
    <script th:src="@{/javascripts/lib/vue.min.js}"></script>
    <div layout:fragment="javascripts"></div>
</body>
</html>
